.description {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 0 0 1em;
}

.form-content {
  align-items: center;
  display: flex;
  text-align: left;
  width: 100%;
}
.form-content > * {
  padding: 0 0.5rem;
}

.form-select {
  flex-grow: 1;
}

.form-button label {
  visibility: hidden;
}
